.TopBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 98vw;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: .33em;
  height: 25vw;
  max-height: 160px;
  background-color: #3B5998;
  position: relative;
}

.TopBar #leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.3em;
}

.TopBar #leftSide button {
  width: 20vw;
  height: 20vw;
  max-height: 50px;
  max-width: 55px;
  border: 0px;
  border-radius: 5px;
  background-color: white;
}

.TopBar h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2em;
  color: White;
}

.TopBar #rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TopBar #rightSide div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 70%;
}

.TopBar #rightSide div p {
  margin: .33em;
  width: 200%;
}

.TopBar #rightSide div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.TopBar #rightSide div div button {
  margin-left: .66em;
}

#switchBtn {
  width: 20vw;
  height: 20vw;
  max-height: 50px;
  max-width: 50px;
  border: 0px;
  border-radius: 5px;
  background-color: white;
}

#btnContainer {
  margin-right: .33em;
}

#userDisplay {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: -1em;
  color: White;
  right: .35em;
}

@media screen and (max-width: 629px) {
  #TopHeader {
    font-size: 5vw;
  }
}

@media screen and (max-width: 356px) {
  #TopHeader {
    font-size: 4vw;
  }
  #userDisplay {
    font-size: 5vw;
  }
  #switchBtn {
    width: 15vw;
    height: 15vw;
  }
  #leftSide button {
    width: 15vw;
    height: 15vw;
  }
}

@media screen and (max-height: 400px) {
  .TopBar {
    max-height: 20vh;
  }
}
/*# sourceMappingURL=TopBar.css.map */