.LogIn {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    width: 13.3em;
    height: 20em;
    background-color: aquamarine;
    border-radius: 1.3em;
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        #inner {
            margin: .66em;
        }
        input {
            width: 13.3em;
            height: 2em;
            border-radius: .33em;
            margin-left: .33em;
        }
        button {
            width: 100px;
            height: 2em;
            border: 0em;
            border-radius: .33em;
            background-color: chocolate;
        }
    }
}
